<a href="https://colab.research.google.com/github/Priyansh4615/Learning-/blob/main/Myntra_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('/content/products.csv')

In [10]:
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
0,Slim Fit Casual Shirt,Greenfibre,0.0,0,1699,1699,"38,39,40,42,44",shirts/greenfibre/greenfibre-men-yellow-slim-f...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",shirts,greenfibre,0,0,"clothing,men-clothing,shirts,greenfibre-shirts","25-28, Pariseema Complex,Nr. Lal Bunglow Cross...",Buy Greenfibre Men Yellow Slim Fit Checked Cas...,Greenfibre Men Yellow Slim Fit Checked Casual ...
1,Men Printed T-shirt,FREESOUL,0.0,0,799,799,"S,M,L,XL,XXL",tshirts/freesoul/freesoul-men-white-printed-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,freesoul,0,0,"clothing,men-clothing,tshirts,freesoul-tshirts","21-E1,2ND PHASE, PEENYA INDUSTRIAL AREA,Bengal...",Buy FREESOUL Men White Printed Cotton T Shirt ...,"FREESOUL Men White Printed Cotton T Shirt, FR..."
2,Leather Two Fold Wallet,Da Milano,0.0,0,4499,4499,Onesize,wallets/da-milano/da-milano-women-blue-texture...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,da-milano,0,0,"accessories,women-accessories,wallets,da-milan...","85, Kapashera Bijwasan Road, New DelhiNew Delh...",Buy Da Milano Women Blue Textured Leather Two ...,Da Milano Women Blue Textured Leather Two Fold...
3,Pure Georgette Bandhani Saree,Mitera,3.6,5,6727,1681,Onesize,sarees/mitera/mitera-women-sea-green--white-em...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sarees,mitera,5046,75,"clothing,women-clothing,sarees,mitera-sarees","7007, Hindustan Textile Centre-2,Dumbhal,Surat...",Buy Mitera Women Sea Green & White Embroidered...,Mitera Women Sea Green & White Embroidered Pur...
4,Men Geometric Printed Kurta,Indo Era,0.0,0,2599,1429,"S,M,L,XL,XXL",kurtas/indo-era/indo-era-men-lavender-geometri...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,indo-era,1170,45,"clothing,men-clothing,kurtas,indo-era-kurtas","4TH FLOOR, Block No B-4021/4022/4023/4026/4038...",Buy Indo Era Men Lavender Geometric Printed Ku...,"Indo Era Men Lavender Geometric Printed Kurta,..."

In [11]:
df.shape

(24324, 17)

## 1. Checking NULL Values

In [12]:
df.isnull().sum()

product_name        0
brand_name          0
rating              0
rating_count        0
marked_price        0
discounted_price    0
sizes               0
product_link        0
img_link            0
product_tag         0
brand_tag           0
discount_amount     0
discount_percent    0
tags                0
seller_address      0
meta_description    0
meta_keyword        0
dtype: int64

## 2. Removing Columns that are not required

In [13]:
df.drop(['product_link' , 'img_link', 'meta_description', 'meta_keyword'], axis =1)
df.head()

# or

# del df['product_link']
# del df['img_link']
# del df['meta_description']
# del df['meta_keyword']

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
0,Slim Fit Casual Shirt,Greenfibre,0.0,0,1699,1699,"38,39,40,42,44",shirts/greenfibre/greenfibre-men-yellow-slim-f...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",shirts,greenfibre,0,0,"clothing,men-clothing,shirts,greenfibre-shirts","25-28, Pariseema Complex,Nr. Lal Bunglow Cross...",Buy Greenfibre Men Yellow Slim Fit Checked Cas...,Greenfibre Men Yellow Slim Fit Checked Casual ...
1,Men Printed T-shirt,FREESOUL,0.0,0,799,799,"S,M,L,XL,XXL",tshirts/freesoul/freesoul-men-white-printed-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,freesoul,0,0,"clothing,men-clothing,tshirts,freesoul-tshirts","21-E1,2ND PHASE, PEENYA INDUSTRIAL AREA,Bengal...",Buy FREESOUL Men White Printed Cotton T Shirt ...,"FREESOUL Men White Printed Cotton T Shirt, FR..."
2,Leather Two Fold Wallet,Da Milano,0.0,0,4499,4499,Onesize,wallets/da-milano/da-milano-women-blue-texture...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,da-milano,0,0,"accessories,women-accessories,wallets,da-milan...","85, Kapashera Bijwasan Road, New DelhiNew Delh...",Buy Da Milano Women Blue Textured Leather Two ...,Da Milano Women Blue Textured Leather Two Fold...
3,Pure Georgette Bandhani Saree,Mitera,3.6,5,6727,1681,Onesize,sarees/mitera/mitera-women-sea-green--white-em...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sarees,mitera,5046,75,"clothing,women-clothing,sarees,mitera-sarees","7007, Hindustan Textile Centre-2,Dumbhal,Surat...",Buy Mitera Women Sea Green & White Embroidered...,Mitera Women Sea Green & White Embroidered Pur...
4,Men Geometric Printed Kurta,Indo Era,0.0,0,2599,1429,"S,M,L,XL,XXL",kurtas/indo-era/indo-era-men-lavender-geometri...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,indo-era,1170,45,"clothing,men-clothing,kurtas,indo-era-kurtas","4TH FLOOR, Block No B-4021/4022/4023/4026/4038...",Buy Indo Era Men Lavender Geometric Printed Ku...,"Indo Era Men Lavender Geometric Printed Kurta,..."

## 3. Data Analysis - Numeric Column

#### **3.1 Average Rating of a product(non-zero)**

In [29]:
df['rating'].mean()

2.1832264430192403

In [31]:
rat =0
count =0

for i in df['rating']:

  if( i !=0):
    rat += i
    count += 1

print(round(int(rat) / count , 2))

4.16

In [30]:
int(rat)

53104

In [23]:
# total items

count

12773

In [24]:
# to get the average rating since there are many zero rating , using .mean() will not be a good idea.
# So we have summed up all the non zero rating and have also counted the number of items
# Now, doing Total rating / total items will give us average rating

int(rat) / count

4.157519768261176

In [27]:
# no. of products where rating is zero

len(df) - count

11551

## **3.2 Most Expensive Product (Marked Price)**

In [32]:
df['marked_price'].max()

44950

In [38]:
df[df['marked_price'] == 44950]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
4565,Men Leather Straps Automatic Motion Watch,EARNSHAW,0.0,0,44950,26970,Onesize,watches/earnshaw/earnshaw-men-white-embellishe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",watches,earnshaw,17980,40,"accessories,men-accessories,watches,earnshaw-w...","NO.1, 3RD FLOOR, MARUTHI COMPLEX, R.T.NAGAR MA...",Buy EARNSHAW Men White Embellished Dial & Brow...,EARNSHAW Men White Embellished Dial & Brown Le...

In [39]:
df[df['marked_price'] == df['marked_price'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
4565,Men Leather Straps Automatic Motion Watch,EARNSHAW,0.0,0,44950,26970,Onesize,watches/earnshaw/earnshaw-men-white-embellishe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",watches,earnshaw,17980,40,"accessories,men-accessories,watches,earnshaw-w...","NO.1, 3RD FLOOR, MARUTHI COMPLEX, R.T.NAGAR MA...",Buy EARNSHAW Men White Embellished Dial & Brow...,EARNSHAW Men White Embellished Dial & Brown Le...

### **3.3 Most Expensive Product (Discounted Price)**

In [40]:
df['discounted_price'].max()

40900

In [42]:
df[df['discounted_price'] == 40900]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
4458,Women Aviator Sunglasses,Tom Ford,0.0,0,40900,40900,L,sunglasses/tom-ford/tom-ford-women-grey-lens--...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sunglasses,tom-ford,0,0,"accessories,women-accessories,sunglasses,tom-f...",Not Mentioned,Buy Tom Ford Women Grey Lens & Gold Toned Avia...,Tom Ford Women Grey Lens & Gold Toned Aviator ...

In [43]:
df[df['discounted_price'] == df['discounted_price'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
4458,Women Aviator Sunglasses,Tom Ford,0.0,0,40900,40900,L,sunglasses/tom-ford/tom-ford-women-grey-lens--...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sunglasses,tom-ford,0,0,"accessories,women-accessories,sunglasses,tom-f...",Not Mentioned,Buy Tom Ford Women Grey Lens & Gold Toned Avia...,Tom Ford Women Grey Lens & Gold Toned Aviator ...

### **3.4 Most Discounted Product (Percentage)**

In [46]:
df['discount_percent'].max()

90

In [ ]:
df[df['discount_percent'] == 90]

In [ ]:
df[df['discount_percent'] == df['discount_percent'].max()]

## **HRITIKA is the brand giving the best discount in terms of percentage**

### **3.5 Most Discounted Product (Discount Amount)**

In [51]:
df['discount_amount'].max()

23758

In [52]:
df[df['discount_amount'] == 23758]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
6214,Textured 360-Degree Rotation Hard-Sided Trolle...,Safari,0.0,0,32997,9239,Pack,trolley-bag/safari/safari-set-of-3-charcoal-gr...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",trolley-bag,safari,23758,72,"accessories,unisex-accessories,trolley-bag,saf...","SAGAR COMPLEX, BULDING NO.F1, GODOWN NO.1&2,OP...",Buy Safari Set Of 3 Charcoal Grey Textured 360...,Safari Set Of 3 Charcoal Grey Textured 360 Deg...

In [53]:
df[df['discount_amount'] == df['discount_amount'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
6214,Textured 360-Degree Rotation Hard-Sided Trolle...,Safari,0.0,0,32997,9239,Pack,trolley-bag/safari/safari-set-of-3-charcoal-gr...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",trolley-bag,safari,23758,72,"accessories,unisex-accessories,trolley-bag,saf...","SAGAR COMPLEX, BULDING NO.F1, GODOWN NO.1&2,OP...",Buy Safari Set Of 3 Charcoal Grey Textured 360...,Safari Set Of 3 Charcoal Grey Textured 360 Deg...

### Shortlisting product based on specific filters
#### Setting a price range for the products

In [60]:
df_pr = df[df['discounted_price'] > 2000]
df_pr = df_pr[df_pr['discounted_price'] < 3000]

df_pr

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
36,Structured Handheld Bag,Baggit,0.0,0,2090,2090,M,handbags/baggit/baggit-beige-structured-handhe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma...",Buy Baggit Beige Structured Handheld Bag - Han...,"Baggit Beige Structured Handheld Bag, Baggit,..."
56,Structured Handheld Bag,Lavie,0.0,0,4490,2469,M,handbags/lavie/lavie-beige-textured-structured...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,lavie,2021,45,"accessories,women-accessories,handbags,lavie-h...","Cabin No. 6, Property 2, Gujarat Vihar, Vikas ...",Buy Lavie Beige Textured Structured Handheld B...,"Lavie Beige Textured Structured Handheld Bag, ..."
67,Men Slim Fit Trousers,Richlook,0.0,0,3498,2448,"32,34,36",trousers/richlook/richlook-men-blue-smart-slim...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",trousers,richlook,1050,30,"clothing,men-clothing,trousers,richlook-trousers","PLOT NO 414, PHASE 3UDYOG VIHARGurugram , Hary...",Buy Richlook Men Blue Smart Slim Fit Trousers ...,"Richlook Men Blue Smart Slim Fit Trousers, Ri..."
107,Unisex Rock & Ice 30 Rucksack,Wildcraft,0.0,0,2399,2399,Onesize,rucksacks/wildcraft/wildcraft-unisex-beige--gr...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",rucksacks,wildcraft,0,0,"accessories,unisex-accessories,rucksacks,wildc...","5th Floor, Office No 504, Punj Essen House, 17...",Buy Wildcraft Unisex Beige & Grey Printed Rock...,Wildcraft Unisex Beige & Grey Printed Rock & I...
144,Men Pleated Trousers,Louis Philippe,0.0,0,2999,2549,"30,32,34,36,38",trousers/louis-philippe/louis-philippe-gods--k...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",trousers,louis-philippe,450,15,"clothing,men-clothing,trousers,louis-philippe-...","Ground Floor, No 65/64, old No 65, 6th Block, ...",Buy Louis Philippe Gods & Kings Men Navy Blue ...,Louis Philippe Gods & Kings Men Navy Blue Plea...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24288,Girls Solid Trainers,H&M,0.0,0,2299,2299,"8Y,9Y,9-10Y,10-11Y,11-12Y",casual-shoes/hm/hm-girls-white-solid-trainers/...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",casual-shoes,hm,0,0,"footwear,girls-footwear,casual-shoes,h-and-m-c...","Prakhhyat Infraprojects PVT. LTD., BUILDING 6,...",Buy H&M Girls White Solid Trainers - Casual Sh...,"H&M Girls White Solid Trainers, H&M, Casual S..."
24293,Semi-Stitched Lehenga Unstitched Blouse With D...,Fashion Basket,0.0,0,4699,2099,Onesize,lehenga-choli/fashion-basket/fashion-basket-pu...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",lehenga-choli,fashion-basket,2600,55,"clothing,women-clothing,lehenga-choli,fashion-...","First Floor, WEST SIDE, SY NO.376, PLOT NO. 1,...",Buy Fashion Basket Purple & Golden Semi Stitch...,Fashion Basket Purple & Golden Semi Stitched L...
24307,Women Embroidered Kurta Set,all about you,3.9,15,4499,2474,"XS,S,M,L,XL,XXL",kurta-sets/all-about-you/all-about-you-women-b...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,all-about-you,2025,45,"clothing,women-clothing,kurta-sets,all-about-y...","5th Floor, Office No 504, Punj Essen House, 17...",Buy All About You Women Black & Gold Floral Em...,All About You Women Black & Gold Floral Embroi...
24314,Men Striped Casual Shirt,U.S. Polo Assn. Denim Co.,0.0,0,2199,2177,"38,40,42,44,46",shirts/us-polo-assn-denim-co/u-s-polo-assn-den...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",shirts,us-polo-assn-denim-co,22,1,"clothing,men-clothing,shirts,u.s.-polo-assn.-d...","10TH FLOOR, DU PARC TRINITY, NO 17, M.G ROAD, ...",Buy U S Polo Assn Denim Co Men Beige And White...,U S Polo Assn Denim Co Men Beige And White Str...
24319,Floral Maxi Dress,Mom For Sure by Ketki Dalal,0.0,0,2850,2850,"M,L,XL,XXL",dresses/mom-for-sure-by-ketki-dalal/mom-for-su...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",dresses,mom-for-sure-by-ketki-dalal,0,0,"clothing,women-clothing,dresses,mom-for-sure-b...","GR FL 25, BHD. SHREEJI HOTEL, OSHIWARAMumbai ,...",Buy Mom For Sure By Ketki Dalal Yellow Floral ...,Mom For Sure By Ketki Dalal Yellow Floral Mate...

In [68]:
# searching for a particular brand in the upper dataset

# df_pr = df_pr[df_pr['brand_name'] == 'H&M']
# df_pr

df_pr = df_pr[df_pr['product_tag'] == 'handbags']
df_pr = df_pr[df_pr['brand_name'] == 'Baggit']

df_pr.sort_values(by = 'discount_percent', ascending = False)

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword
517,Structured Satchel,Baggit,0.0,0,2590,2331,S,handbags/baggit/baggit-red-structured-satchel/...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,259,10,"accessories,women-accessories,handbags,baggit-...","Second Floor, Plot No. 82, Okhla Industrial Es...",Buy Baggit Red Structured Satchel - Handbags f...,"Baggit Red Structured Satchel, Baggit, Handba..."
6910,Structured Handheld Bag,Baggit,0.0,0,3190,2871,L,handbags/baggit/baggit-grey-structured-handhel...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,319,10,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma...",Buy Baggit Grey Structured Handheld Bag - Hand...,"Baggit Grey Structured Handheld Bag, Baggit, ..."
36,Structured Handheld Bag,Baggit,0.0,0,2090,2090,M,handbags/baggit/baggit-beige-structured-handhe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma...",Buy Baggit Beige Structured Handheld Bag - Han...,"Baggit Beige Structured Handheld Bag, Baggit,..."
909,Structured Handheld Bag,Baggit,0.0,0,2590,2590,S,handbags/baggit/baggit-pink-colourblocked-stru...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma...",Buy Baggit Pink Colourblocked Structured Handh...,Baggit Pink Colourblocked Structured Handheld ...
1078,Women Solid Handheld Bag,Baggit,0.0,0,2190,2190,M,handbags/baggit/baggit-mauve-solid-handheld-ba...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma...",Buy Baggit Mauve Solid Handheld Bag - Handbags...,"Baggit Mauve Solid Handheld Bag, Baggit, Hand..."
1263,Structured Handheld Bag,Baggit,0.0,0,2590,2590,S,handbags/baggit/baggit-navy-blue-structured-ha...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma...",Buy Baggit Navy Blue Structured Handheld Bag -...,"Baggit Navy Blue Structured Handheld Bag, Bag..."
2981,Solid Structured Handheld Bag,Baggit,0.0,0,2590,2590,M,handbags/baggit/baggit-pink-solid-structured-h...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...","204/218Narayan Udyog BhavanLalbaughMumbai , Ma...",Buy Baggit Pink Solid Structured Handheld Bag ...,"Baggit Pink Solid Structured Handheld Bag, Ba..."
7583,Structured Handheld Bag,Baggit,0.0,0,2590,2590,S,handbags/baggit/baggit-navy-blue-structured-ha...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",handbags,baggit,0,0,"accessories,women-accessories,handbags,baggit-...",Not Mentioned,Buy Baggit Navy Blue Structured Handheld Bag -...,"Baggit Navy Blue Structured Handheld Bag, Bag..."

#### 3.7 Finding all the brand names as per the dataset

In [79]:
len(df['brand_name'].unique() )

2139

In [83]:
df['brand_name'].unique()

array(['Greenfibre', 'FREESOUL', 'Da Milano', ..., 'FEVER', 'Oxyglow',
       'RARE ROOTS'], dtype=object)

### 3.8 Finding the brands with most numbers of products

In [81]:
c = 0

# finding no. of products of each brand


for i in df['brand_name']:
  if (i == 'Greenfibre'):
    c += 1
  
print(" Greenfibre :", c)

 Greenfibre : 38

In [87]:
data = []

for brand_name in df['brand_name'].unique():

  c = 0
  for i in df['brand_name']:
    if ( i == brand_name):
      c += 1

      # print(brand_name, c)

  data.append([brand_name , c])

data = pd.DataFrame(data, columns = ['name' , 'products'])
data.head(10)

                    name  products
0             Greenfibre        38
1               FREESOUL        50
2              Da Milano        26
3                 Mitera        67
4               Indo Era       137
5               WildHorn         7
6                 Kanvin         5
7           Jack & Jones       174
8              MS RETAIL         1
9  HRX by Hrithik Roshan       288

In [89]:
data.sort_values(by = 'products', ascending = False).head(10)

                      name  products
69                Roadster       633
16          Mast & Harbour       369
11              DressBerry       311
136               HERE&NOW       298
32                     max       289
9    HRX by Hrithik Roshan       288
19                   Anouk       280
78                     H&M       278
88                 URBANIC       234
74                   MANGO       230

*the exact same thing which we have done manually can also be done by the help 
of groupby function*

In [91]:
df.groupby('brand_name').size().sort_values(ascending = False)

brand_name
Roadster               633
Mast & Harbour         369
DressBerry             311
HERE&NOW               298
max                    289
                      ...
Nair                     1
Awadhi                   1
Atsevam                  1
Nuluv                    1
Awesomeskin Science      1
Length: 2139, dtype: int64

### 3.9 Finding the top 10 most expensive brands

In [99]:
df.groupby('brand_name'). mean()['marked_price'].sort_values(ascending = False).head(10)

brand_name
EARNSHAW          38950.0
Tom Ford          35900.0
dyson             33900.0
Cerruti 1881      29999.0
TISSOT            29250.0
SEIKO             24250.0
Emporio Armani    23495.0
ROMEING           22140.0
Safari            21218.5
VRSALES           20803.0
Name: marked_price, dtype: float64

In [100]:
df.groupby('brand_name'). mean()['discounted_price'].sort_values(ascending = False).head(10)

brand_name
Tom Ford          35900.000000
dyson             33900.000000
TISSOT            29250.000000
Cerruti 1881      26999.000000
EARNSHAW          21922.333333
SEIKO             21825.000000
Emporio Armani    20562.333333
Cole Haan         19999.000000
Michael Kors      18577.571429
Mathey-Tissot     16972.500000
Name: discounted_price, dtype: float64

In [102]:
# brands giving maximum discounts

df.groupby('brand_name'). mean()['discount_percent'].sort_values(ascending = False).head(10)

brand_name
HRITIKA           89.454545
THE AAB STUDIO    89.000000
OOMPH             87.500000
Brandsoon         86.000000
HAMT              86.000000
VAIVIDHYAM        86.000000
Kord Store        85.250000
VAIRAGEE          85.000000
Dhrohar           84.000000
awesome           84.000000
Name: discount_percent, dtype: float64

In [104]:
# Brands giving very less/no discount

df.groupby('brand_name'). mean()['discount_percent'].sort_values(ascending = True).head(10)

brand_name
M.A.C             0.0
METTLE            0.0
Born Babies       0.0
Bonjour           0.0
MICHAEL ANGELO    0.0
MISS NAILS        0.0
Bodycare          0.0
MOCEMSA           0.0
METAL             0.0
Bobbi Brown       0.0
Name: discount_percent, dtype: float64

In [108]:
df_pr = df[df['rating'] != 0]

df_pr.groupby('brand_name').mean()['rating'].sort_values(ascending = False)

brand_name
London Rag      5.0
KREDO           5.0
UCLA            5.0
SHIRT THEORY    5.0
Apratim         5.0
               ...
DECHEN          2.0
Kaifoo          1.5
honeybud        1.5
ZEBRONICS       1.0
Lovely Lady     1.0
Name: rating, Length: 1458, dtype: float64

In [109]:
df_pr = df[df['rating_count'] != 0]

df_pr.groupby('brand_name').mean()['rating_count'].sort_values(ascending = False)

brand_name
Envy           9000.000000
JAGUAR         6953.666667
Plum           5106.866667
Denver         5084.500000
Maybelline     5058.545455
                  ...
ABROS             2.000000
UCLA              2.000000
Lovely Lady       1.000000
Apratim           1.000000
Hugo Boss         1.000000
Name: rating_count, Length: 1458, dtype: float64

In [118]:
import numpy as np

pincode = []
state   = []


for i in df['seller_address']:

  if(i != 'Not Mentioned'):
    pincode.append(i.split(' ')[-1])
    state.append(i.split(',')[-1].split('-')[0].strip())

  else:

    pincode.append(np.nan)
    state.append(np.nan)

df['pincode'] = pincode
df['state']   = state

In [119]:
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,tags,seller_address,meta_description,meta_keyword,pincode,state
0,Slim Fit Casual Shirt,Greenfibre,0.0,0,1699,1699,"38,39,40,42,44",shirts/greenfibre/greenfibre-men-yellow-slim-f...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",shirts,greenfibre,0,0,"clothing,men-clothing,shirts,greenfibre-shirts","25-28, Pariseema Complex,Nr. Lal Bunglow Cross...",Buy Greenfibre Men Yellow Slim Fit Checked Cas...,Greenfibre Men Yellow Slim Fit Checked Casual ...,380006,Gujarat
1,Men Printed T-shirt,FREESOUL,0.0,0,799,799,"S,M,L,XL,XXL",tshirts/freesoul/freesoul-men-white-printed-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,freesoul,0,0,"clothing,men-clothing,tshirts,freesoul-tshirts","21-E1,2ND PHASE, PEENYA INDUSTRIAL AREA,Bengal...",Buy FREESOUL Men White Printed Cotton T Shirt ...,"FREESOUL Men White Printed Cotton T Shirt, FR...",560058,Karnataka
2,Leather Two Fold Wallet,Da Milano,0.0,0,4499,4499,Onesize,wallets/da-milano/da-milano-women-blue-texture...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,da-milano,0,0,"accessories,women-accessories,wallets,da-milan...","85, Kapashera Bijwasan Road, New DelhiNew Delh...",Buy Da Milano Women Blue Textured Leather Two ...,Da Milano Women Blue Textured Leather Two Fold...,110037,Delhi
3,Pure Georgette Bandhani Saree,Mitera,3.6,5,6727,1681,Onesize,sarees/mitera/mitera-women-sea-green--white-em...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sarees,mitera,5046,75,"clothing,women-clothing,sarees,mitera-sarees","7007, Hindustan Textile Centre-2,Dumbhal,Surat...",Buy Mitera Women Sea Green & White Embroidered...,Mitera Women Sea Green & White Embroidered Pur...,395010,Gujarat
4,Men Geometric Printed Kurta,Indo Era,0.0,0,2599,1429,"S,M,L,XL,XXL",kurtas/indo-era/indo-era-men-lavender-geometri...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,indo-era,1170,45,"clothing,men-clothing,kurtas,indo-era-kurtas","4TH FLOOR, Block No B-4021/4022/4023/4026/4038...",Buy Indo Era Men Lavender Geometric Printed Ku...,"Indo Era Men Lavender Geometric Printed Kurta,...",395010,Gujarat

In [120]:
df.groupby('pincode').size().sort_values(ascending = False).head()

pincode
110020    2025
110001    1445
560044    1078
110002     966
122102     889
dtype: int64

In [121]:
df.groupby('state').size().sort_values(ascending = False).head()

state
Delhi          8415
Karnataka      3921
Haryana        2609
Maharashtra    2336
Gujarat        1103
dtype: int64